In [1]:
import pandas as pd
import numpy as np
from os import listdir

In [2]:
filepaths = [('scrapers/scraped_ratings/' + f) for f in listdir("scrapers/scraped_ratings")]
reviews = pd.concat([pd.read_csv(filepath, delimiter='\t', header=None) for filepath in filepaths[:38]], axis=0)
reviews.columns = ['game_id', 'user', 'rating', 'comment']
reviews.head()

   game_id              user  rating                       comment
0    72991  Spielbox Ratings     7.5  2010.7 8.8.7.8.8.7.7.6.8.8.7
1    72991            ivanyv     7.5                           NaN
2    72991           macklau     7.5                           NaN
3    72991        cjharris30     7.5                           NaN
4    72991           dalek22     7.5                           NaN

In [4]:
reviews.columns = ['game_id', 'user', 'rating', 'comment']
len(reviews)

3751793

In [5]:
reviews2 = pd.read_csv('scrapers/scraped_ratings/ratings38.csv', header=None, delimiter='\t')
reviews2.columns = ['game_id', 'user', 'rating', 'comment']

In [6]:
reviews = pd.concat([reviews, reviews2], axis=0)
print(len(reviews))
reviews.head()

3803904

   game_id              user  rating                       comment
0    72991  Spielbox Ratings     7.5  2010.7 8.8.7.8.8.7.7.6.8.8.7
1    72991            ivanyv     7.5                           NaN
2    72991           macklau     7.5                           NaN
3    72991        cjharris30     7.5                           NaN
4    72991           dalek22     7.5                           NaN

In [10]:
more_than_10_reviews = reviews[reviews['user'].map(reviews['user'].value_counts()) >= 10]
len(more_than_10_reviews)

3195840

In [8]:
more_than_10_reviews.user.value_counts()

Doel                1202
Tolkana             1200
RichardIngram       1027
TomVasel             954
Walt Mulder          887
Master Thomas        749
wejejeei             729
Nap16                712
rei70                704
BoardGamer2008       700
Alan How             677
RonCarlson01         674
fiorevita            671
Thrylos              655
yaguiu               652
BeyondMonopoly       650
ErisQuilty           642
bpsyc                641
warta                605
leffe dubbel         586
Tomol                556
Hessu68              553
PBrennan             542
Pozman               542
Boromir1983          537
loeil                532
cowhollow            514
Hopalong             502
visard               500
averagerating        493
                    ...
raquelnilla           10
Ghaleon               10
moondog               10
Nivad                 10
Nairoth               10
crazychemgeek         10
Overmann              10
ThomasWillinger       10
omidkeivani           10
KoenigNord            10
argmin_h              10
zabawki               10
SiloraK               10
BassT                 10
yutaka88              10
onz87                 10
djammmer              10
Sokunokumi            10
sag_aloo              10
Riinaaja              10
Parox                 10
mirekkluge            10
n3x3n                 10
supitza               10
Trocki                10
seamless              10
larrydurbin           10
Robotsandpuppets      10
tomnopop403           10
Philman0              10
Name: user, Length: 90556, dtype: int64